<h1 class="mt-3 text-center">Article Heading</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum et cupiditate ad tempore itaque ea deserunt culpa soluta. Animi alias facere adipisci id odit deserunt illum, nesciunt maxime fugiat! Excepturi?</p>
<h2>Subsection</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum rerum neque quod expedita dolorem labore in iusto, voluptate ullam? Atque, eum perferendis nostrum saepe aperiam consectetur hic necessitatibus similique eligendi!</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum modi voluptatum doloremque quis, eos, ut quasi quaerat veritatis rerum corrupti soluta pariatur dolorum vitae? Sint sed quaerat asperiores explicabo assumenda!</p>
<h2>Another subsection</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit omnis nisi rem eum! Non, quia tempora ullam reprehenderit numquam nihil debitis esse itaque? Quibusdam consequuntur vitae quaerat consequatur similique quidem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, libero? Vitae, possimus quidem. Enim, delectus mollitia beatae est, maiores corrupti voluptate molestias culpa dolorem quae quasi et fugiat assumenda. Dicta.</p>